    /* tegister&login */
    .main{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .registercontainer, .logincontainer{
      background-color: black ;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 7% 37% 0%; 
      border-radius: 20px;
      padding: 5% 3%;
    }
    .heading{
      color: white;
      text-align: center;
    }
    .inputfield{
      border-radius: 20px;
      border:2px solid #9b6dd3;
      padding: 3%;
      background-color: transparent;
      color: white;
    }
    .actionbtn{
      background-color: #9b6dd3;
      font-size: 16px;
      padding:3% 20%;
      border: none;
      border-radius: 20px;
    }
    .registercontainer p, .logincontainer p{
      color: white;
      text-align: center;
    }

    /* register&login-End */
    /* data */
    .body{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1% 5%;
    }
    .log{
      display: flex;
      flex-direction: column;
      gap: 5%;
      align-items: center;
      position: relative;
      left: 40%;
    }
    .userloged{
      padding: 1%;
      background-color: #9b6dd3;
      color: white;
      text-align: center;
      border-radius: 25px;
    }
    .databtn{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5%;
    }
    .btn{
      border: none;
      background-color: #9b6dd3 ;
      font-weight: bold;
      font-size: 16px;
      box-sizing: border-box;
      padding: 5% 50%;
      border-radius: 25px;
      white-space: nowrap;
    }
    .log button a{
      text-decoration: none;
      color: white;
    }
    .datatable {
      border-collapse: separate;
      border-spacing: 5%;
      width: 50%;
    }
    .datatable th, td{
      background-color: #9b6dd3;
      text-align: center;
      border-radius: 20px;
    }
    .tempo{
      margin-top: 3%;
      position: relative;
      right: 5%;
    }
    .tempo button a{
      text-decoration: none;
      color: white;
    }
    .tem_acc{
      background-color: #9b6dd3;
      padding: 1%;
      border-radius: 20px;
    }
    
    



    